body{
    height: 1000px;
}

.axis{
    margin: 0px 10%;
    width: 80%;
    height: 80%;
    background-color: cornflowerblue;
}

.object{
    margin: auto;
    width: 20%;
    height: 20%;
    background-color: #807d7a;
    transition: all 2s ease-in-out;
}

.object:hover{
    -moz-transform:     matrix(2, 0, 0, 2, 200, 200);
    -webkit-transform:  matrix(2, 0, 0, 2, 200, 100);
    -o-transform:       matrix(2, 0, 0, 2, 200, 200);
    -ms-transform:      matrix(2, 0, 0, 2, 200, 200);
}